# Tuples exercises

1. Write a Python program to create a tuple of numbers and print one item.

In [2]:
my_tuple = (1,2,3)
print(my_tuple[0])

1

2. Write a Python program to unpack a tuple into several variables.

In [4]:
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
2
3

3. Write a Python program to add an item to a tuple at index number 2.

In [6]:
new_tuple = list(my_tuple)
new_tuple.insert(2,111111110)
print(tuple(new_tuple))

(1, 2, 111111110, 3)

4. Write a Python program to convert a tuple to a string.

In [10]:
str_tuple=("g","e","h","a","d")
print("".join(str_tuple))
print(type("".join(str_tuple)))

gehad
<class 'str'>

1. ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's') => 'exercises'

In [14]:
ex = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
print("".join(ex))

exercises

5. Write a Python program to find repeated items in a tuple.

In [17]:
the_tuple = (1,8,6,3,4,4,2)
print(the_tuple.count(4))

2

6. Write a Python program to remove an item from a tuple.

In [25]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
my_list.pop(1)
my_tuple = tuple(my_list)
print(my_tuple)

(10, 30, 40, 50)

7. Write a Python program to reverse a tuple.

In [27]:
tuples = ('z','a','d','f','g','e','e','k')
new_tup = tuples[::-1]  #it takes elements from the back to the front
print(new_tup)

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

8. Write a Python program to replace the last value of tuples in a list.

In [30]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
my_list[-1]=[1,"beoeo","yes","NO"]
my_tuple = tuple(my_list)
print(my_tuple)

(10, 20, 30, 40, [1, 'beoeo', 'yes', 'NO'])

# List Exercises

1. Create a list of your favorite fruits. Add another fruit to the end of the list using append().

In [31]:
my_fruit_list= ["fruit1","fruit2","fruit3"]
my_fruit_list.append("fruit4")
print(my_fruit_list)

['fruit1', 'fruit2', 'fruit3', 'fruit4']

2. Create two lists of numbers, then extend the first list by adding all elements from the second list using extend()

In [33]:
list1 = [1,2,3]
list2 = [10,9,8888]
list1.extend(list2)
print(list1)

[1, 2, 3, 10, 9, 8888]

3. insert(index, item) Start with a list of colors. Insert a new color at the second position (index 1).

In [34]:
colors = ["red","pink","rose"]
colors.insert(1,"Thulian")
print(colors)

['red', 'Thulian', 'pink', 'rose']

4. Create a list of city names with some duplicates. Use remove() to delete the first occurrence of a city

In [35]:
cities = ["city1","city2","city3", "city4","city3"]
cities.remove("city3")
print(cities)

['city1', 'city2', 'city4', 'city3']

5. pop(index) Make a list of your favorite animals. Use pop() to remove the animal at the third position and store it in a variable.

In [36]:
animals = ["animal1","animal2","animal3", "animal4","animal3"]
animals.pop(2)
print(animals)

['animal1', 'animal2', 'animal4', 'animal3']

6. clear() Create a list of random numbers, then clear it using clear().

In [37]:
randwm_list = [1,5,9,7,5,3]
randwm_list.clear()
print(randwm_list)

[]

# Dictionary Function Exercises

1. Create a dictionary of country capitals. Use get() to retrieve the capital of 'France', with a default value if itâ€™s not in the dictionary.

In [38]:
my_dict = {
    'USA': 'Washington, D.C.',
    'Japan': 'Tokyo',
    'India': 'New Delhi',
    'Germany': 'Berlin',
    'Canada': 'Ottawa'
}
print(my_dict.get("france","city is not found"))

city is not found

2. Make a dictionary of programming languages and their popular frameworks. Use keys() to get a list of all languages.

In [40]:
languages_and_frameworks = {
    'Python': ['Django', 'Flask', 'FastAPI', 'Pyramid'],
    'JavaScript': ['React', 'Vue', 'Angular', 'Node.js', 'Express'],
    'Java': ['Spring', 'Struts', 'Hibernate', 'JSF'],
    'Ruby': ['Ruby on Rails', 'Sinatra', 'Hanami']}
x = languages_and_frameworks.keys()
print(x)

dict_keys(['Python', 'JavaScript', 'Java', 'Ruby'])

3. Using the previous dictionary, get a list of all frameworks using values().

In [42]:
y = languages_and_frameworks.values()
print(y)

dict_values([['Django', 'Flask', 'FastAPI', 'Pyramid'], ['React', 'Vue', 'Angular', 'Node.js', 'Express'], ['Spring', 'Struts', 'Hibernate', 'JSF'], ['Ruby on Rails', 'Sinatra', 'Hanami']])

4. Use items() to get a list of all key-value pairs in a dictionary representing items and their prices.

In [43]:
z = languages_and_frameworks.items()
print(z)

dict_items([('Python', ['Django', 'Flask', 'FastAPI', 'Pyramid']), ('JavaScript', ['React', 'Vue', 'Angular', 'Node.js', 'Express']), ('Java', ['Spring', 'Struts', 'Hibernate', 'JSF']), ('Ruby', ['Ruby on Rails', 'Sinatra', 'Hanami'])])

5. Create a dictionary with some initial values, and then use update() to add more items.

In [44]:
some_dict = {"key1":1 , "key2":2 , "key3":3}
some_dict.update({"key100000":44444444})
print(some_dict)

{'key1': 1, 'key2': 2, 'key3': 3, 'key100000': 44444444}

6. Remove an item from a dictionary of students by using pop(), then store the popped value in a variable.

In [48]:
second_some_dict = {"student1":"gehad" , "student2":"jehad" , "student3":"jihad"}
popped_value = second_some_dict.pop("student3")
print(popped_value)

jihad

7. Create a dictionary and use clear() to remove all items.

In [49]:
second_some_dict.clear()
print(second_some_dict)

{}