1. Write a Python program to add an item to a tuple.

In [15]:
my_tuple=(2,5,7,9,3,1,8,4)
my_list = list(my_tuple)
my_list.append(48)
new_tuple = tuple(my_list)
print(new_tuple)

(2, 5, 7, 9, 3, 1, 8, 4, 48)

2. Write a Python program to sum all the items in a list.

In [16]:
print(my_list)
sum_list=0
for i in my_list:
    # print(i)
    sum_list += i
print(sum_list)

[2, 5, 7, 9, 3, 1, 8, 4, 48]
87

3. Write a Python program to multiply all the items in a list.

In [17]:
print(my_list)
multiply_list=1
for i in my_list:
    # print(i)
    multiply_list *= i
print(multiply_list)

[2, 5, 7, 9, 3, 1, 8, 4, 48]
2903040

4. Write a Python program to get the smallest number from a list.

In [20]:
print(my_list)
smallest = my_list[0]
for i in my_list:
    if smallest > i:
        smallest = i
print("the smallest number is: ",smallest)

[2, 5, 7, 9, 3, 1, 8, 4, 48]
the smallest number is:  1

5. Write a Python program to get the largest number from a list.

In [21]:
print(my_list)
largest = my_list[0]
for i in my_list:
    if largest < i:
        largest = i
print("the largest number is: ",largest)

[2, 5, 7, 9, 3, 1, 8, 4, 48]
the largest number is:  48

6. Write a Python program to count the number of strings from a given list of strings.

In [23]:
my_stringlist=["one","two","three","four"]
count_strings=0
for i in my_stringlist:
    for j in i:
        count_strings +=1
print(count_strings)

15

7. Write a Python program to clone or copy a list

In [26]:
print(my_list)
clone_newList = my_list.copy()
print(clone_newList)

[2, 5, 7, 9, 3, 1, 8, 4, 48]
[2, 5, 7, 9, 3, 1, 8, 4, 48]

8. Write a Python program to remove item(s) from a given set.

In [28]:
my_set={2, 5, 7, 9, 3, 1, 8, 4, 48}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 7, 8, 9, 48}

9. Write a Python program to check if a set is a subset of another set.

In [29]:
set_one = {4,5,7}
set_two = {4,5}
print("is set two s subset of set one? answer is: ", set_two.issubset(set_one))

is set two s subset of set one? answer is:  True

10. Write a Python program to remove all elements from a given set.

In [31]:
set_three={5,8,6,3,2,8,2,6,2,3,3}
set_three.clear()
print(set_three)

set()

11. Write a Python program to find the maximum and minimum values in a set.

In [34]:
set_four={5,1,5,8,88,3,4,0,5}
print("min value: " ,min(set_four))
print("max value: " ,max(set_four))

min value:  0
max value:  88

12. Write a Python program to find the index of an item in a tuple.

In [36]:
print(my_tuple)
print("the index of number 3 is: ", my_tuple.index(3))

(2, 5, 7, 9, 3, 1, 8, 4)
the index of number 3 is:  4

13. Write a Python program to convert a tuple to a dictionary.

In [39]:
inputTuple = ((5, "five"), (6, "six"), (7, "seven"))
print(dict((x,y) for x, y in inputTuple))

{5: 'five', 6: 'six', 7: 'seven'}

14. Write a Python program to unzip a list of tuples into individual lists.

In [40]:
list_of_tuples = [(2,4,7),(1,2,5),(9,8,6)]
for i in list_of_tuples:
    print(list(i))

[2, 4, 7]
[1, 2, 5]
[9, 8, 6]

15. Write a Python program to reverse a tuple.

In [44]:
print(my_tuple)
print(my_tuple[::-1])

(2, 5, 7, 9, 3, 1, 8, 4)
(4, 8, 1, 3, 9, 7, 5, 2)

16. Write a Python program to convert a list of tuples into a dictionary.

In [45]:
list_of_tupless = [("four",4),("two",2),("eight",8)]
print(dict((x,y)for x, y in list_of_tupless))

{'four': 4, 'two': 2, 'eight': 8}

17. Write a Python program to replace the last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [49]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
new_list=[]
for i in Sample_list:
    new_list.append(i[:-1]+(100,))
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Write a Python program to sort a tuple by its float element.

In [62]:
data = [('item1', 24.20), ('item2', 15.10), ('item3', 24.5)]
new_data = sorted(data, key=lambda x: x[1], reverse=False) 
print(new_data)

[('item2', 15.1), ('item1', 24.2), ('item3', 24.5)]